{
    "LAKALA_MERCH_ID": "11",
    "LAKALA_KEY": 11,
    "LAKALA_ORIGIN": "number11",
    "LAKALA_CHANNEL_ID": 11,
    "API_SECRET_KEY": "key",
    "CALLBACK_SECRET": "key",
    "ALLOWED_CALLBACK_DOMAINS": [
        "www.example.com",
        "example.com"
    ]
}